@font-face {
  font-family: 'GiniFont';
  src: url('../Assets/optiagency-gothic-webfont.woff2') format('woff2'),
       url('../Assets/optiagency-gothic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  /* background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(black), to(white)); */
  background: -webkit-linear-gradient(left, black 70%, #191919);
  background: -moz-linear-gradient(left, black 70%,#191919);
  background: -ms-linear-gradient(left, black 70%,#191919);
  background: -o-linear-gradient(left, black 70%,#191919);
  background: linear-gradient(left, black 70%,#191919);
}

#container {
  text-align: center;
  width: 70%;
}

#ginLogo {
  position: absolute;
  display: block;
  left: 350px;
  top: 200px;
  transform: scale(1.5);
  opacity: 0;
  animation: logoAnim 1.5s linear 2.5s forwards
}

/* premaknjeno iz leve za 550 in zgoraj za 50*/

#anim {
  position: relative;
  margin: 250px 60px 0 auto;
  width: 600px;
  height: 650px;
  transform: scale(1);
}

#ginStd {
  position: absolute;
  top: 34%;
  left: 62.5%;
  transform: translate(-50%, -50%);
  z-index: -2;
  animation-name: ginStdAnim;
  animation-duration: 1.5s;
  animation-delay: 0.8s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
}

#ginPrm {
  position: absolute;
  top: 34%;
  left: 37.5%;
  transform: translate(-50%, -50%);
  z-index: -2;
  animation-name: ginPrmAnim;
  animation-duration: 1.5s;
  animation-delay: 0.8s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
}


#brinTop {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -3;
  animation-name: brinTopAnim;
  animation-duration: 2s;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
}

#brinBot {
  position: absolute;
  top: 77%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  animation-name: brinBotAnim;
  animation-duration: 2s;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
}

#tonic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) ;
  opacity: 1;
  z-index: -1;
  animation-name: tonicAnim;
  animation-duration: 2.5s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
}

@keyframes tonicAnim {
  0% {opacity: 0; transform: translate(-50%, -50%) scale(0.8) ; }
  50% {opacity: 1;}
  100% {transform: translate(-50%, -50%) scale(1) ;}
}

@keyframes ginPrmAnim {
  0% {opacity: 0; left: 32.5%;}
  50% {opacity: 1;}
  100% {left: 37.5%;}
}

@keyframes ginStdAnim {
  0% {opacity: 0; left: 67.5%;}
  50% {opacity: 1;}
  100% {left: 62.5%;}
}

@keyframes brinBotAnim {
  0% {opacity: 0; top: 82%;}
  50% {opacity: 1;}
  100% {top: 77%;}
}

@keyframes brinTopAnim {
  0% {opacity: 0; top: 59%;}
  50% {opacity: 1;}
  100% {top: 54%;}
}

@keyframes logoAnim {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Smoke effect */

/* traja 7s */

#container {
  position: absolute;
  left: 175px;
  top: 450px;
  text-align: center;
  height: 540px;
  width: 960px;
  transform: scale(1.2);
}

#smoke {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -4;
  opacity: 0;
  animation: startVid 0.5s linear 4.5s forwards, endVid 0.5s linear 9s forwards;
}

@keyframes endVid {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes startVid {
  from {opacity: 0;}
  to {opacity: 1;}
}

.space {
  width: 20px;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.75) translate(-50%, -50%);
  transform: translateY(-50%);
  width: 100%;
  margin-top: 4.7em;
  color: rgb(158, 158, 158);
  font-size: 4em;
  font-family: GiniFont;
  font-weight: lighter;
  text-align: center;
}

span + span {
  margin: 0 -5px;
}

h1 span {
  opacity: 0;
  display: inline-block;
  animation: animate 1s linear forwards;
}

@keyframes animate {
  0% {opacity: 0; transform: rotateY(90deg); filter: blur(10px);}
  100% {opacity: 1; transform: rotateY(0deg); filter: blur(0px);}
}

h1 span:nth-child(1) {
  animation-delay: 4.6s;
}
h1 span:nth-child(2) {
  animation-delay: 4.7s;
}
h1 span:nth-child(3) {
  animation-delay: 4.8s;
}
h1 span:nth-child(4) {
  animation-delay: 4.9s;
}
h1 span:nth-child(5) {
  animation-delay: 5.05s;
}
h1 span:nth-child(6) {
  animation-delay: 5.1s;
}
h1 span:nth-child(8) {
  animation-delay: 5.4s;
}
h1 span:nth-child(9) {
  animation-delay: 5.5s;
}
h1 span:nth-child(11) {
  animation-delay: 5.8s;
}
h1 span:nth-child(13) {
  animation-delay: 6s;
}
h1 span:nth-child(14) {
  animation-delay: 6.1s;
}
h1 span:nth-child(15) {
  animation-delay: 6.2s;
}
h1 span:nth-child(16) {
  animation-delay: 6.3s;
}
h1 span:nth-child(17) {
  animation-delay: 6.4s;
}
h1 span:nth-child(18) {
  animation-delay: 6.5s;
}
